.btn, .btn-large{
    background: #e51937;
    width: 100% !important;
}
p, input{
    text-align: center;
}
input {
    padding-bottom: 25px;
}
.centered {
    display: flex;
    align-items: center;
}
label{
    color: #000;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
    background-color: #e51937;
    border: 2px solid #e51937;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #e51937;
}
.switchTab{
    margin-bottom: 30px;
}